# Server Settings
PORT=3000

# Gemini API Key (optional - falling back to Mock AI Mode if empty)
GEMINI_API_KEY=

# Razorpay API Credentials (optional - falling back to Mock Payments if empty)
# Get these from Razorpay Dashboard under Settings -> API Keys (in Test Mode)
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# MongoDB connection settings
MONGO_URI=mongodb://localhost:27017/

